<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook Data Fetcher</title>
</head>
<body>
    <!--Facebook-->
    <h1>ดึงข้อมูลโพสต์จาก Facebook</h1>
    <form action="/fetch" method="POST">
        <label for="urls">URL ของเพจ (ใส่ 1 บรรทัดต่อ 1 URL):</label><br>
        <textarea id="urls" name="urls" rows="5" cols="50" required></textarea><br><br>

        <label for="results_limit">จำนวนโพสต์ที่ต้องการดึงข้อมูล:</label><br>
        <input type="number" id="results_limit" name="results_limit" value="0" required><br><br>

        <button type="submit">ดึงข้อมูล</button>
    </form>
    <!--IG-->
    <h1>Instagram Scraper</h1>
    <form action="/pull" method="POST">
        <label for="urls">Instagram Page URLs (One per line):</label><br>
        <textarea id="urls" name="urls" rows="5" cols="40" placeholder="https://www.instagram.com/example/"></textarea><br><br>

        <label for="results_limit">Number of Posts (Default: 5):</label><br>
        <input type="number" id="results_limit" name="results_limit" value="40"><br><br>

        <button type="submit">Fetch Data</button>
    </form>
    <!--X-->
    <h1>Fetch Tweets from Twitter</h1>
    <form action="/get_tweets" method="POST">
        <label for="usernames">Enter Twitter Usernames (comma-separated):</label><br>
        <input type="text" id="usernames" name="usernames" required><br><br>

        <label for="max_results">Number of Tweets to Fetch:</label><br>
        <input type="number" id="max_results" name="max_results" min="1" required><br><br>

        <input type="submit" value="Fetch Tweets">
    </form>

    {% if tweets %}
        <h2>Tweets:</h2>
        <ul>
            {% for tweet in tweets %}
                <li>
                    <strong>{{ tweet.username }}</strong>: {{ tweet.tweet_text }}<br>
                    <small>Posted on: {{ tweet.created_at }}</small><br>
                    <a href="{{ tweet.link }}" target="_blank"></a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
